{{ 'add-to-card.css' | asset_url | stylesheet_tag }}

<button id="custom-add-to-cart" class="add-to-card custom-add-to-cart-btn js-add-to-cart">
  <span>Add to Card</span>
  {%- render 'loading-spinner' -%}
</button>