.add-to-card {
  width: 100%;
  max-width: 370px;
  line-height: 1;
  text-decoration: none;
  border-radius: 5px;
  background: #2D3339;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-card:hover {
  background: #43484D;
}

.add-to-card[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.add-to-card[disabled]:hover {
  background: #2D3339;
}

.add-to-card[disabled] .loading__spinner .path {
  stroke: #fff;
}